<!-- breakdowns -->
<div class="container">
  <div>
    <mat-form-field class="example-full-width">
      <mat-label>Search</mat-label>
      <input id="search" type="text" matInput>
      <mat-icon matSuffix>search</mat-icon>
    </mat-form-field>
    <select #orderby class="float" (change)="applayOrder(orderby.value)">
      <option value="">None</option>
      <option value="vehicleModel">Vehicle Model</option>
      <option value="registrationNo">Registration No</option>
      <option value="pilotName">pilot Name</option>
    </select>
  </div>

<div fxLayout="row" >
  <div fxFlex="65">
  <div fxLayout="row">
  <div fxFlex="100">
  <div class="user-alert-content" *ngFor="let breakdown of paginatedBreakdowns">
  <div class="mat-card-content-left">
  <div class="leftcardalign">
  <h6>image</h6>
  </div>
  </div>
  <div class="mat-card-content-center">
  <div class="leftcardalign" style="padding-bottom:1rem; border-bottom: 1px solid #e2e5ea;">
  <h6 class="heading">Breakdown Reported</h6>
  <p class="text-light" style="margin-top:0.5rem;">{{ breakdown.AlertType }}</p>
  </div>
  <div class="leftcardalign-bottom">
  <table>
  <tr>
  <td>
  <span class="text-dark" style="font-size:13px; font-weight:bold; color: rgb(8 58 129);">{{breakdown.registrationNo}}</span>
  </td>
  </tr>

  <tr>
  <td>
  <span class="text-light" style="border-right: 1px solid #e2e5ea;">{{ breakdown.vehicleModel }} &nbsp; </span> &nbsp; <span class="text-light">{{ breakdown.pilotName }}</span>
  </td>
  </tr>

  </table>
  </div>
  </div>
  <div class="mat-card-content-right">
  <div class="leftcardalign">
  <button mat-stroked-button color="primary" class="no-hover-effect" >
  SEE IN MAP
  </button>
  <button mat-stroked-button color="primary" class="no-hover-effect" style="margin-top:1rem;">
  CALL PILOT
  </button>
  </div>
  </div>
  </div>
  </div>
  </div>
  </div>
  <mat-paginator [length]="breakdowns.length"
               [pageSize]="PAGES_NMBER"
               (page)="getBreakdownsByPage($event.pageIndex)"
               [pageIndex]="currentPage">
</mat-paginator>
  </div>
</div>
